[Unit]
Description=Mail Rest Server

[Service]
WorkingDirectory=/home/pi/java/
ExecStart=/usr/bin/java -jar /home/pi/java/MailRestServer/MailRestServer.jar /home/pi/java/MailRestServer/configuration.json
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=mailrestserver
User=pi

[Install]
WantedBy=multi-user.target
